.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #047aed;
  font-weight: 300;
}
.navigation .navigation__logo {
  color: white;
  font-size: 30px;
}
.navigation .navigation__item {
  color: white;
  padding: 10px;
  text-decoration: none;
}
.navigation .navigation__item:hover {
  border-bottom: 2px solid white;
}
.navigation .example__img {
  width: 100%;
}
.navigation .example__npm {
  width: 60%;
}

.statistics__info {
  margin-top: 80px;
  text-align: center;
}
.statistics__info .statistics__heading {
  color: black;
  font-size: 1rem;
  font-weight: 400;
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #047aed;
  padding-top: 95px;
  padding-bottom: 50px;
}
.title .title__info {
  color: white;
  flex-basis: 50%;
}
.title .title__heading {
  color: white;
  font-weight: 300;
  font-size: 2.4rem;
  padding-bottom: 20px;
}
.title .title__link {
  border-radius: 6px;
  padding: 10px 25px 10px 25px;
  color: white;
  text-decoration: none;
  font-weight: 300;
  border: 1px white solid;
}
.title .title__description {
  color: white;
  font-weight: 300;
  padding-bottom: 20px;
}

.demo {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  flex-basis: 30%;
}
.demo .demo__heading {
  color: black;
  font-weight: 300;
}
.demo .demo__form__input {
  display: block;
  border: none;
  border-bottom: 1px solid gray;
  width: 100%;
  margin-top: 20px;
}
.demo .demo__form__submit {
  display: block;
  padding: 8px 28px;
  background-color: #047aed;
  color: white;
  border-radius: 5px;
  border-color: #047aed;
  margin-top: 30px;
}

.stats-items {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
.stats-items .stats-item {
  display: flex;
  flex-direction: column;
}
.stats-items .icon {
  display: flex;
  justify-content: center;
}
.stats-items .icon .img {
  width: 50px;
  height: 50px;
}
.stats-items .numbers {
  color: black;
  text-align: center;
  letter-spacing: 2px;
  font-size: 2rem;
}
.stats-items .text {
  font-size: 1.2rem;
  color: #047aed;
  text-align: center;
}

.example {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 50px;
}
.example .example__img {
  width: 600px;
  border-radius: 7px;
}
.example .example-descriptions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
}
.example .example__description {
  padding: 20px 10px;
  border-radius: 7px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.55);
}

.hosting {
  display: flex;
  justify-content: space-around;
  padding: 50px 0 50px 0;
  background-color: #047aed;
}
.hosting .hosting__header {
  width: 50%;
  text-align: center;
}
.hosting .hosting__header .hosting__title {
  margin: 3rem 0 2rem 0;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
  color: white;
}
.hosting .hosting__header .hosting__description {
  margin-bottom: 2rem;
  color: white;
}
.hosting .hosting__header .read-more {
  border-radius: 6px;
  padding: 10px 25px 10px 25px;
  color: white;
  text-decoration: none;
  font-weight: 300;
  background-color: black;
}
.hosting .hosting__visual {
  width: 35%;
}
.hosting .hosting__visual .clouds {
  width: 100%;
  height: 100%;
}

.languages .languages__heading {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
}
.languages .languages__logos {
  display: flex;
  justify-content: space-between;
}
.languages .languages__logos .languages__logo {
  width: 12%;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.55);
  border-radius: 6px;
  transition: transform 0.5s;
}
.languages .languages__logos .languages__logo:hover {
  transform: translateY(-10px);
}
.languages .languages__logos .languages__logo__img {
  width: 70%;
  height: auto;
  margin-left: 15%;
  margin-top: 15%;
}
.languages .languages__logos .logo-name {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: gray;
  margin-top: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.footer .footer__logo .footer__logo-name {
  color: white;
  font-size: 30px;
  padding-bottom: 0.5rem;
}
.footer .footer__logo .footer__logo-copyright {
  color: white;
}
.footer .footer__navigation {
  color: white;
}
.footer .footer__navigation .footer__navigation-home {
  padding-bottom: 0.5rem;
}
.footer .footer__navigation .footer__navigation-features {
  padding-bottom: 0.5rem;
}
.footer .footer__connections {
  color: white;
}
.footer .footer__connections .github, .footer .footer__connections .facebook, .footer .footer__connections .insta {
  padding-right: 0.5rem;
}

.features-title {
  display: flex;
  justify-content: space-between;
  background-color: #047aed;
  padding-bottom: 4rem;
  padding-top: 4rem;
  color: white;
}
.features-title .features__title-name {
  font-size: 3rem;
  font-weight: 300;
  padding-bottom: 1rem;
}
.features-title .features__title-description {
  font-weight: 300;
}
.features-title .features__title-visual {
  padding-right: 5rem;
}
.features-title .features__title-visual .server {
  width: 100%;
  height: 100%;
}

* {
  border: 1px solid pink;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=styles.css.map */
