@import "responsive-mixins";

.card{
    display: flex;
    @include shadow-boxes;

    &-image {
        padding-right: 1rem;
    }

    &-text {
        color: darkslategrey;
        font-weight: 300;
    }

    &-small {
        width: 30%;
    }

    &-medium {
        width: 65%;
    }

}

// for mobile phones

@include for-mobile{
    
    .d-flex{
        flex-wrap: wrap;
    }

    .card{
        text-align: center;
        width: 100%;
    } 
}



