@import "variables";


.demo {
    background-color: $font-light-color;
    padding: 40px;
    border-radius: 10px;
    flex-basis: 30%;

    .demo__heading {
        @include demo-heading(black);
    }
    
    .demo__form__input {
        display: block;
        border: none;
        border-bottom: 1px solid gray;
        width: 100%;
        margin-top: 20px;
    }
    
    .demo__form__submit {
        display: block;
        padding: 8px 28px;
        //background-color: map-get($colorMap, "lightblue");
        color: $font-light-color;
        border-radius: 5px;
        border-color: $font-blue-color;
        margin-top: 30px;
    }
    

}
