@import "layout-mixins";
@import "variables";

.main{
    @include flex-between;

    @include for-mobile{
        flex-direction: column;
    }
     
        .essentials{
            width: 30%;
            @include shadow-boxes;
            // background-color: #f1f2f3;
            background-color:theme-aware("background-color");
            padding-top: 3rem;
            padding-bottom: 3rem;

            @include for-mobile{
                width: 100%;
                text-align: center;
            }

            .essentials__title{
                padding-top: 1rem;
                padding-bottom: 1rem;
                font-size: 1.2rem;
            }
        }

        .link{
            display: block;
            text-decoration: none;
            border-bottom: 1px solid lightslategray;
            padding-bottom: 0.5rem;
            font-size: 1rem;
            color: gray;
            font-weight: 300;

            &:hover{
                color:black;
                font-weight: 400;
            }
        }

        .introduction{
            width: 60%;
            @include shadow-boxes;

            @include for-mobile{
                width: 100%;
                text-align: center;
            }

            .introduction__title{
                font-weight: 300;
                margin-top: 2rem;
                padding-bottom: 1.5rem;
                font-size: 1.5rem;
            }

            .introduction__text{
                font-weight: 300;
                margin-bottom: 1rem;
                padding-top: 1rem;
            }

            .exclamation-mark-text{
                display: flex;
                align-items: center;
                background-color: green;
                color: white;
                margin-top: 1rem;
            }

            .bold-text{
                font-weight: 400;
                padding-bottom: 1rem;
                padding-top: 1rem;
            }

            .install{
                @include read-more;
                background-color: $font-blue-color;
                
            }

            .dark-text{
                background-color: black;
                color: white;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 0.5rem;
                font-size: 0.8rem;
                letter-spacing: 1px;
            }
            
        }

       



       


}