@import "layout-mixins";
@import "variables";
@import "responsive-mixins";

.docs-title{
    @include flex-between;
    background-color: $font-blue-color;
    padding-top: 4rem;
    color: $font-light-color;

    @include for-mobile{
        flex-direction: column;
    }

    .docs__title{
        width: 50%;
        padding-left: 2rem;

        @include for-mobile{
            width: 100%;
            padding-left: 0;
            text-align: center;
        }

        .docs__title-name{
            font-size: 4rem;
            font-weight: 300;
            padding-bottom: 1rem;
        }
    }

    .docs__title-visual{
        width: 30%;

        @include for-mobile{
            width: 100%;
        }

        .docs__title-image{
            width: 100%;
        }
    }
}