.example{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 50px;
}    

.example__img{
    width: 600px;
    border-radius: 7px;
}

.example-descriptions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
}

.example__description{
    border: 1px solid gray;
    padding: 20px 10px;
    border-radius: 7px;
    box-shadow: 0px 2px 11px 3px rgba(0,0,0,0.48);
}