

.example{
    @include flex-around;
    margin-bottom: 50px;
    margin-top: 50px;

    .example__img{
        width: 600px;
        border-radius: 7px;
    }
    
    .example-descriptions{
        @include flex-column;
        justify-content: space-between;
        font-size: 1.2rem;
    }
    
    .example__description{  
        padding: 20px 10px;
        border-radius: 7px;
        box-shadow: $shadow-light;
    }
}    

