@import "layout-mixins";
@import "variables";

.features-title{
    @include flex-between;
    background-color: $font-blue-color;
    padding-bottom: 4rem;
    padding-top: 4rem;
    color: $font-light-color;

    .features__title-name{
        font-size: 3rem;
        font-weight: 300;
        padding-bottom: 1rem;
    }

    .features__title-description{
        font-weight: 300;
    }

    .features__title-visual{
        padding-right: 5rem;

        .server{
            width: 100%;
            height: 100%;
        }
    }
}