@import "layout-mixins";
@import "variables";

.features-title{
    @include flex-between;
    background-color: $font-blue-color;
    padding-top: 4rem;
    color: $font-light-color;

    .features__title{
        width: 50%;

        .features__title-name{
            font-size: 4rem;
            font-weight: 300;
            padding-bottom: 1rem;
        }
    }
    
    .features__title-description{
        font-weight: 300;
        font-size: 1.2rem;
    }

    .features__title-visual{
        width: 25%;

        .server{
            width: 100%;
            
        }
    }
    
}