@import "layout-mixins";
@import "typography-mixins";
@import "variables";
@import "variables";

.navigation {
    @include flex-between;
    align-items: center;
    padding: 10px 20px;
    background-color: $font-blue-color;
    font-weight: 300;

    .navigation__logo {
        @include header($font-light-color);
    }
    
    .navigation__item {
        @include nav-bar(white);
    }
    
    .navigation__item:hover {
        border-bottom: 2px solid white;
    }

    .example__img{
        width: 100%;
    }

    .example__npm{
        width: 60%;
    }
}

