@import "mixins";
@import "variables";

.navigation {
    @include flex-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(4, 122, 237);
    font-weight: 300;

    .navigation__logo {
        font-size: 30px;
        color:$font-white;
    }
    
    .navigation__item {
        padding: 10px;
        text-decoration: none;
        color: $font-white;
    }
    
    .navigation__item:hover {
        border-bottom: 2px solid white;
    }
}

