@import "variables";
@import "responsive-mixins";


.languages{
    
    .languages__heading{
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: 400;
        font-size: 1.5rem;
    }

    .languages__logos{
        @include flex-between;

        .languages__logo{
            width: 12%;
            box-shadow: $shadow-light;
            border-radius: 6px;
            transition:transform 0.5s;

            &:hover{
                transform: translateY(-10px);
            }
        }
       

        .languages__logo__img{
            width: 70%;
            height: auto;
            margin-left: 15%;
            margin-top: 15%;
        }

        .logo-name{
            text-align: center;
        }
    }

   
}

@include for-mobile{
    .languages__logos{
        flex-wrap: wrap;

        .languages__logo{
            min-width: 120px;
        }
    }
}