@import "layout-mixins";

.platform{
    @include flex-between;
    background-color: #f1f2f3;
    padding-top: 4rem;

    @include for-mobile{
        flex-wrap: wrap;
    }

    .platform__info{
        width: 50%;

        @include for-mobile{}
        width: 100%;
        text-align: center;
        margin-left: 0;

        .platform__info-name{
            font-size: 2rem;
            font-weight: 300;
            padding-bottom: 1rem;
        }

        .platform__info-description{
            color: darkslategray;
            font-weight: 300;
        }
    }

    .platform__visual{
        width: 30%;

        @include for-mobile{
            width: 100%;
        }

        .server2{
            width: 100%;
        }
    }
}
