@import "mixins";

.stats-items {
    @include flex-around;
    margin-top: 40px;

    .stats-item {
        @include flex-column;
    }

    .icon {
        @include flex-center;
        
        .img {
            width: 50px;
            height: 50px;
        }

    }

    .numbers {
        text-align: center;
        letter-spacing: 2px;
        font-size: 2rem;
    }

    .text {
        font-size: 1.2rem;
        color: rgb(4, 122, 237);
        text-align: center;
    }
}

