@import "layout-mixins";
@import "variables";
@import "buttons-mixins";

.title {
    @include flex-around;
    align-items: center;
    background-color: $font-blue-color;
    padding-top: 95px;
    padding-bottom: 50px;

    .title__info {
        color: $font-light-color;
        flex-basis: 50%;
    }

    .title__heading {
        @include title-heading($font-light-color);
        padding-bottom: 20px;
    }

    .title__link {
        @include read-more;
        border: 1px white solid;
    }

    .title__description{
        @include text-description($font-light-color);
        padding-bottom: 20px;
    }
}










