@import "layout-mixins";
@import "variables";
@import "buttons-mixins";
@import "responsive-mixins";
@import "color-map";
@import "functions";

.title {
    @include flex-around;
    align-items: center;
    background-color:theme-aware("background-color");
    padding-top: 95px;
    padding-bottom: 50px;

    .title__info {
        color: $font-light-color;
        flex-basis: 50%;
        position: relative;
        animation-name: left-right;
        animation-duration:0.8s;
        animation-timing-function: ease-out;

        @keyframes left-right{
            0% {left:-300px; top:0px;}
            100% {left: 0px; top:0px;}
        }
    }

    .title__heading {
        @include title-heading($font-light-color);
        padding-bottom: 20px;
    }

    .title__link {
        @include read-more;
        border: 1px white solid;
    }

    .title__description{
        @include text-description($font-light-color);
        padding-bottom: 20px;
    }
}


@include for-mobile{

    .navigation__items{
        display: flex;
    }

    .title{
       display: flex;
       flex-direction: column;

       .title__info{
            text-align: center;
            max-width: 250px;

            .title__link{
                margin-bottom: 1rem;
            }
       }
    }

    

  

    
}







