//use in html 


.d-flex{
    display: flex;
    justify-content: space-between;
}


$margins: 1,2;

@each $margin in $margins {
    .m-#{$margin}{
        margin: #{$margin}rem;
    }
}


$paddings: 1, 2;
$spacer: 10px;

@each $padding in $paddings {
    .pt-#{$padding}{
        padding-top: #{$padding}rem
    }
    .pb-#{$padding}{
        padding-bottom: #{$padding}rem
    }
}


